 /*
.wishlist-card.ng-enter.ng-enter-active, 
.wishlist-card.ng-leave {
    opacity: 1;
    -webkit-transition: all  300ms ease-out;
    -moz-transition: all  300ms ease-out;
    transition: all  300ms ease-out;
}

  
.wishlist-card.ng-leave.ng-leave-active, 
.wishlist-card.ng-enter {
    opacity: 0;
    -webkit-transition: all  300ms ease-out;
    -moz-transition: all  300ms ease-out;
    transition: all  300ms ease-out;
}*/

.wishlist-card.ng-enter, 
.fx-slide.ng-enter {
	-webkit-animation:fadeInDown 0.5s both ease-in;
	-moz-animation:fadeInDown 0.5s both ease-in;
	animation:fadeInDown 0.5s both ease-in;
}

.wishlist-card.ng-leave,
.fx-slide.ng-leave {
	-webkit-animation:fadeOutUp 0.5s both ease-in;
	-moz-animation:fadeOutUp 0.5s both ease-in;
	animation:fadeOutUp 0.5s both ease-in;
}