<div class="row">
	<div class="col-md-12">
		<div class="page-wrap"> 
			<div class="page-body">
				<div class="row">
					<div class="col-md-6 col-md-push-3">
						<form name="addProductForm" ng-submit="addPostSubmit()" novalidate>
							<div class="form-card">
								<h2 class="form-card-title">Product Details</h2>
								<div class="form-card-body">
									<p>
										<label>Product Name</label>
										<input type="text" class="form-control input-sm" ng-model="productName" required />
									</p>
									<div class="mb10">
										<label>Product Description</label>
										<!--textarea ng-model="productDescription" class="form-control" required ></textarea-->
										<div text-angular 
											ng-model="productDescription" 
											ta-toolbar="[['h1','h2','p'],['bold','italics','ul'],['justifyLeft', 'justifyCenter', 'justifyRight'],['insertImage','insertLink', 'insertVideo']]"
											ta-toolbar-class="btn-toolbar btn-toolbar-ta" 
											ta-toolbar-group-class="btn-group btn-group-xs"
											ta-toolbar-active-button-class="active btn-primary"
										></div>
									</div>
									<p>
										<label>Product Price</label>
										<input type="number" class="form-control input-sm" ng-model="productPrice" required />
									</p> 
									<p>
										<label>Related Products</label>
										<select class="form-control input-sm" chosen multiple ng-model="productRelated" data-placeholder="Select a product" max-selected-options="3" search-contains="true"> 
											<option ng-repeat="relProd in relatedProducts" value="{{relProd._id}}">{{relProd.name}}</option>
										</select>
									</p>
								</div>
							</div>

							<div class="form-card">
								<h2 class="form-card-title">Labels</h2>
								<div class="form-card-body">
									<p>
										<label>Product Tags</label> 
										<tags-input ng-model="productTags"></tags-input>
									</p>
									<p>
										<label>Product Category</label>
										<select class="form-control input-sm" ng-model="productMainCat" ng-change="updateSubCat()" required>
											<option value="">Select a category</option>
											<option ng-repeat="mainCat in mainCategories">{{mainCat}}</option>
										</select>
									</p>
									<p>
										<label>Product SubCategory</label>
										<select class="form-control input-sm" ng-model="productSubCat">
											<option value="">Select a category</option>
											<option ng-repeat="subCat in subCategories">{{subCat}}</option>
										</select>
									</p>
								</div>
							</div>

							<div class="form-card">
								<h2 class="form-card-title">Sale</h2>
								<div class="form-card-body">
									<div class="row">
										<div class="col-sm-4 mb5">
											<div class="form-group mb0">
												<div class="input-group">
													<input type="number" class="form-control input-sm" placeholder="0" name="saleoff" min="0" ng-model="productSaleOff">
													<div class="input-group-addon">% off </div>
												</div>
											</div>
										</div>
										<div class="col-sm-4 mb5">
											<input type="text" class="form-control input-sm" placeholder="Date Start" ng-model="productSaleStart">
										</div>
										<div class="col-sm-4 mb5">
											<input type="text" class="form-control input-sm" placeholder="Date End" ng-model="productSaleEnd">
										</div>
									</div>
								</div>
							</div>

							<div class="form-card hide">
								<h2 class="form-card-title">Product Sale</h2>
								<div class="form-card-body"> 
									<p class="mb20">
										<label>Promo Code</label>
										<select class="form-control input-sm">
											<option>Select promo code</option>
										</select>
									</p> 
									<div class="row">
										<div class="col-md-4">
											<p>
												<label class="show">On Sale?</label>
												<input type="checkbox"/> Yes
											</p>		
										</div>
										<div class="col-md-4">
											<p>
												<label>From : </label>
												<input class="form-control input-sm" />
											</p>
										</div>
										<div class="col-md-4">
											<p>
												<label>To : </label>
												<input class="form-control input-sm" />
											</p>
										</div>
									</div> 
								</div>
							</div>
							<div class="form-card">
								<h2 class="form-card-title">Product Images</h2>
								<div class="form-card-body">
									<div class="row">
										<div class="col-xs-3">
											<div class="productImage shadow" style="background-image: url(/assets/images/add.png)">
												<img src="/assets/images/overlay.png">
												<input data-imgtype="productImg1" type="file" onchange="angular.element(this).scope().addProductImage(this)">
												<div class="removeImage" ng-click="removeProductImage($event)" data-imgtype="productImg1"></div>
											</div> 
										</div> 
										<div class="col-xs-3">
											<div class="productImage shadow" style="background-image: url(/assets/images/add.png)">
												<img src="/assets/images/overlay.png">
												<input data-imgtype="productImg2" type="file" onchange="angular.element(this).scope().addProductImage(this)">
												<div class="removeImage" ng-click="removeProductImage($event)" data-imgtype="productImg2"></div>
											</div>
										</div> 
										<div class="col-xs-3">
											<div class="productImage shadow" style="background-image: url(/assets/images/add.png)">
												<img src="/assets/images/overlay.png">
												<input data-imgtype="productImg3" type="file" onchange="angular.element(this).scope().addProductImage(this)">
												<div class="removeImage" ng-click="removeProductImage($event)" data-imgtype="productImg3"></div>
											</div>
										</div> 
										<div class="col-xs-3">
											<div class="productImage shadow" style="background-image: url(/assets/images/add.png)">
												<img src="/assets/images/overlay.png">
												<input data-imgtype="productImg4" type="file" onchange="angular.element(this).scope().addProductImage(this)">
												<div class="removeImage" ng-click="removeProductImage($event)" data-imgtype="productImg4"></div>
											</div>
										</div>   
									</div> 
									<div class="row mt10" ng-if="isInvalidImage">
										<div class="col-md-12">
											<div class="mb0 alert alert-danger padTB10">{{isInvalidError}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-card pad20">
								<div class="row">
									<div class="col-md-12">
										<p ng-if="isAddPostSuccess" class="alert alert-success">Success</p>
										<p ng-if="isAddPostError" class="alert alert-danger">Error</p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6 col-xs-12 col-md-4 mb5">
										<select ng-model="productStatus" id="" class="form-control"> 
											<option value="active">Active</option>
											<option value="draft">Draft</option>
										</select>
									</div>
									<div class="col-sm-6 col-xs-12 col-md-8 mb5">
										<input type="submit" value="Submit" class="btn btn-block btn-primary" ng-disabled="addProductForm.$invalid">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>